.contacts {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.contacts__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  } 
}

.contacts__link {
  display: inline-flex;
  align-items: center;

  font-size: 0.75rem;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: $primary-text-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .contacts__icon,
  &:focus .contacts__icon {
    fill: $accent-color;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    align-items: center;
  }
}

.contacts__icon {
  display: inline-block;
  align-items: center;
  justify-content: center;

  margin-right: 8px;

  fill: $primary-text-color;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}






