$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$black-color: #000000;
$secondary-background-color: #F5F4FA;
$footer-color: #2F303A;
$border-color: #ECECEC;
$hero-bg-color: #C4C4C4;
$hero-gradient-color: rgba(47, 48, 58, 0.4);
$box-shadow-primary: rgba(0, 0, 0, 0.12);
$box-shadow-secondary: rgba(0, 0, 0, 0.14);
$box-shadow-additional:  rgba(0, 0, 0, 0.2);
$box-shadow-alternative:  rgba(0, 0, 0, 0.06);
$box-shadow-extra: rgba(0, 0, 0, 0.16);
$box-shadow-plus: rgba(0, 0, 0, 0.1); 
$box-shadow-light: rgba(0, 0, 0, 0.08);
$box-shadow-form-button:rgba(0, 0, 0, 0.15);
$primary-icon-color: #AFB1B8;
$footer-social-background: rgba(255, 255, 255, 0.1);
$services-overlay-color: rgba(47, 48, 58, 0.8);
$backdrop-color: rgba(0, 0, 0, 0.2);
$form-outline-color: rgba(33, 33, 33, 0.2);
$footer-form-outline: rgba(255, 255, 255, 0.3);